p Caro Sr. Luiz Antonio Carvalho Pacheco,

p Em sua nota pública sobre a terrível propaganda veículada pela rádio transamérica, - que já foi retirada de circulação, mas teria sido paga com dinheiro do contribuinte -, o senhor afirmou que repudia o conteúdo da peça publicitária. No entanto, isso não basta!

p A epidemia de abuso sexual dentro dos vagões e estações do Metrô é o tipo de problema grave que deve ser combatido com todo empenho e repertório de instrumentos que o senhor dispõe. Um deles é justamente o que foi usado na propaganda, que  é sua verba de comunicação. Até agora, ela tem sido utilizada para fazer transmitir muitos auto-elogios, mas muito pouca informação.

p Para mostrar sua vontade genuína em diminuir a incidência desse tipo de crime, que tal criar uma campanha massiva de educação e prevenção contra abusos sexuais no Metrô de São Paulo? Tenho certeza de que, assim como eu, milhares de paulistanos sentiriam a valorização de sua cidadania e de um espaço público que é de todos nós.

p Fico no aguardo de sua resposta!
