p Olá #{@poke.user.first_name},

p É muito importante saber que diversos cidadãos como você estão unidos no combate aos abusos nos vagões e estações do Metrô. Essa é uma demanda antiga de diversos paulistanos e agora temos a oportunidade de exigir que a verba de comunicação do Metrô seja utilizada em uma campanha massiva contra esse tipo de crime recorrente. Chega de propagandas auto-elogiosas, sem conteúdo e informação!

p Compartilhe o link da mobilização com seus amigos e familiares. Vamos mostrar para o presidente do Metrô que apenas repudiar o absurdo cometido pela propaganda na rádio Transámerica não será suficiente: #{link_to root_url, root_url}

p Obrigada,

p Anna, Alessandra, Miguel, e todos os entusiastas do Minha Sampa
