body
  color: white
  font-family: "Proxima Nova Soft"

h2, h3
  font-family: "Garage Gothic"
  color: $blue
  text-transform: uppercase
  span
    color: white

h2
  font-size: 3.5em
  line-height: 1em

h3
  font-size: 2em

a
  color: white
  text-decoration: underline
  font-weight: bold

strong
  display: inline-block
  color: $yellow
  font-size: 1.5em

p.lead
  color: $yellow
  font-size: 1em

.button
  text-transform: uppercase

.button.facebook-share, .button.facebook-link
  background: $facebook-blue

.button.twitter-share
  background: $twitter-blue

.wraper
  +grid-column(12)

.box
  background: rgba(0, 0, 0, .75)
  padding: 1em

.title
  +grid-column(5)

.text
  +grid-column(7)
  p
    font-size: 1.1em

.white
  color: white
  h2
    color: white

.slides-1-2
  background: asset-url("slide-1-2-bg.jpg") top center
  background-size: cover

.slide-1
  padding: 2em 0
  .title
    text-align: right
    h2
      margin-bottom: 1em
  .email_message
    text-align: right
  .text
    margin-bottom: 1em
  .counter
    +grid-column($columns: 7, $offset: 5)
    margin-bottom: 2em
    .digits-and-text
      text-align: left
      .digits, .counter-text
        display: inline-block
      .digits
        margin-right: .5em
      span.digit
        color: $yellow
        text-align: center
        background: asset-url("counter-bg.png")
        margin-right: 2px
        display: inline-block
        width: 32px
        line-height: 39px
        font-weight: 900
        font-size: 1.75em
        &:last-child
          margin-right: 0
      .counter-text
        text-transform: uppercase
        line-height: 1em
        text-align: left
        color: $gray-dark
        font-size: 14px
        font-weight: bold
        span
          position: relative
          top: 3px

.slide-2
  padding: 2em 0
  .title
    strong
      font-size: 1.1em
      font-weight: normal
      line-height: 1.2em
  .text
    +grid-column(12)
    padding-top: 2em
    p
      font-size: 1.1em


.slide-3
  background: $blue
  padding: 2em 0
  .title, .text
    text-align: center
  .title
    +grid-column(12)
    h2
      color: $gray-dark
  .text
    +grid-column($columns: 8, $center: true)
    strong
      display: block
  .image
    +grid-column(12)
    margin-bottom: 3em

.slide-4
  background: asset-url("slide-4-bg.jpg") top center
  padding: 3em 0
  .title
    text-align: right
    &.white
      +grid-column(12)
      text-align: center
      margin-bottom: 1em
  .text
    margin-bottom: 2em
  .ocup
    +grid-column(3)
    text-align: center
    height: 550px

.slide-6
  background: asset-url("slide-4-bg.jpg") top center
  padding: 3em 0
  .title
    text-align: right

.slide-7
  background: $blue
  padding: 2em 0
  .title, .text
    text-align: center
  .title
    +grid-column(12)
    h2
      color: $gray-dark
  .text
    +grid-column($columns: 8, $center: true)
    strong
      display: block
      line-height: 1em
  .image
    +grid-column(12)
    margin-bottom: 1em

.slide-5
  background: $blue
  padding: 2em 0 6em 0
  .col
    +grid-column(4)
    .title, h2, p
      +grid-column(12)
      padding: 0
    &.square
      p
        border: white 2px solid
        padding: 1em
        margin-bottom: 0
  .title
    display: block
    h2
      color: $gray-dark
  img
    padding-bottom: 1em

.close-reveal-modal
  text-decoration: none

#gandalf.reveal-modal
  background: none !important
  border: none !important

#share, #victory, #preview_email
  p, a.link
    color: #333
    &.phone
      font-family: "Garage Gothic"
      font-size: 2.5em
  .button
    margin: 0
  .facebook-share
    margin-right: 1em
  .share-buttons
    text-align: center
  strong
    color: inherit
    font-size: 1em

form
  background: $blue-dark
  padding: 1em
  margin-bottom: 1em
  +grid-column(12)
  .button
    width: 100%
    text-transform: uppercase
  .first_name_field, .last_name_field, .email_field, .submit_button
    input
      margin: 0
    &.error
      input
        border-color: red
  .email_field, .last_name_field
    +grid-column(3)
  .first_name_field
    +grid-column(2)
  .submit_button
    +grid-column(4)
    input
      font-family: inherit
      padding: 5px
      font-size: 21px
      border: 1px solid $blue

@media (max-width: 900px)
  .slide-1
    .email_message
      text-align: left
    .text, .title
      +grid-column(12)
      text-align: left
    .title
      h2, strong
        margin-bottom: 1em
    .counter
      +grid-column($columns: 12, $offset: 0)

  .slide-2
    .title
      +grid-column(12)
      text-align: center

  .slide-3
    .title, .text
      +grid-column(12)

  .slide-4
    .title, .text
      +grid-column(12)
      text-align: left
    .ocup
      +grid-column($columns: 6)
      margin-bottom: 2em

  .slide-5
    .col
      +grid-column(8, $center: true)

  .slide-6
    .title, .text
      +grid-column(12)
      text-align: left

  .slide-7
    .title, .text
      +grid-column(12)
      text-align: left

  #share
    .facebook-share
      margin: 0 0 1em 0

  form
    +grid-column(8, true, true)
    .first_name_field, .last_name_field, .email_field, .submit_button
      +grid-column(12)
    .first_name_field, .last_name_field, .email_field
      margin-bottom: 1em

@media (max-width: 750px)
  .slide-5
    .col
      +grid-column(10, $center: true)

  form
    +grid-column(12, true, true)
    .first_name_field, .last_name_field, .email_field, .submit_button
      +grid-column(12)
    .first_name_field, .last_name_field, .email_field
      margin-bottom: 1em

@media (max-width: 500px)
  .slide-5
    .col
      +grid-column(12)

  form
    +grid-column(12, true, true)

  .slide-4
    .ocup
      +grid-column($columns: 12)
      height: auto
